<form action ="/payment/results">
  
  <div>
   <label for ="gorilla">APR</label>
    <input id = "gorilla" type="text" name="apr" placeholder="E.g. 5.42">
  </div>

  <div>
  <label for = "monkey">Number of years</label>
  <input id = "monkey" type="text" name="years" placeholder="How many years to repay">
  </div>

  <div>
  <label for = "ant">Principal</label>
  <input id = "ant" type="text" name="principal" placeholder="How much principal">
  </div>

  <button>Calculate monthly payment</button>
  
</form>
